<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto_de_perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Gabriel R Gimenez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sapiente vitae aut nisi corporis quo maxime voluptatum incidunt, quibusdam itaque, cumque magnam tempora inventore ullam! Ab animi maiores quasi ducimus.
            </p>
        </span>
    </div>

</div>
