<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h2>Trabajo 1</h2> - <h3>(year)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, dicta numquam! Tempora ex corrupti voluptates dignissimos quas odit praesentium molestias, autem ab similique suscipit, perferendis magnam? Nesciunt aspernatur laborum debitis!</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2> - <h3>(year)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, dicta numquam! Tempora ex corrupti voluptates
                dignissimos quas odit praesentium molestias, autem ab similique suscipit, perferendis magnam? Nesciunt
                aspernatur laborum debitis!</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2> - <h3>(year)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, dicta numquam! Tempora ex corrupti voluptates
                dignissimos quas odit praesentium molestias, autem ab similique suscipit, perferendis magnam? Nesciunt
                aspernatur laborum debitis!</p>
        </ul>
    </div>

</div>
